<% Movie.all.each do |movie| %>
  <li><%= movie.title %> : <%= movie.overview %></li>
<% end %>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>